<div class="card">
  <div class="card-header">
    <%- if options[:metatags] %>
    <h1><%%%- title('Editing <%%= singular_table_name.titleize %>') %></h1>
    <%- else -%>
    <h1>Editing <%%= plural_table_name.titleize %></h1>
    <%- end -%>

  </div>
  <div class="card-body">
    <%%%= render 'form', <%%= singular_table_name %>: @<%%= singular_table_name %> %>   
  </div>
</div>


